*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.cntct{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: url(bgkodok.jpg);
    background-size: cover;
    background-position: bottom;
    background-blend-mode: darken;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.cntct-text h2{
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.cntct-text p{
    color: white;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.cntct-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.cntct-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.cntct-text a.ig{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.cntct-text a.ig i{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 40px;
}

.cntct-text a.em{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.cntct-text a.em i{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 40px;
}

.cntct-text a.wa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.cntct-text a.wa i{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 40px;
}

.cntct-text-icons{
    display: flex;
} 

footer{
    background: black;
    color: white;
}
